
nav{ display: flex;
    align-items:center ;
    width:auto;
    height: 80px;
    padding: 16px 120px;
    border: 1px solid red;
    justify-content: space-between;
    
   
}
a:hover{
    background-color: aqua;
}
*{
    text-decoration: none;
}
    
nav .navblog {
    display: flex;
    list-style: none;
    gap: 35px;
    width: auto;
    height:auto;
    text-decoration: none;
}
div{
    width: auto;
    height: auto;
}
.hi {
    border: 1px solid;
    ;
}
.b{
    margin-right: 120px;
    border-radius: 5px;
    width: 140px;
    height: 40px;
     background-color:#30B868;
}
.b a{
    color: black;
   
}


.b a{
    text-decoration: none;
}

.navblog a{
    text-decoration: none;
}
main{
    
    border: solid 1px #30B868;
  
}
.imgclass{
     width: auto;
    height: 550px;
  background-image: url(./assets/hero-bg.png);
}
.hero{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content:center ;
    align-items: center;
    padding:50px;
}
.whitefront{
    color:white;
    font-size: x-large;
}
.greenfront{
    color: #30B868;
    font-size: x-large;
}
 .a-right{
    text-align: center;
    border: solid rebeccapurple
    ;
 }
 .herobutton{
    display: flex;
    justify-content: center;
    gap: 60px;
   margin: auto;
 }
 .greenbutton{
    background-color: #30B868;
 }
.buttons a{
    text-decoration: none;

}

.buttonsb a{
    text-decoration: none;
}
.hero-section-down-part{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.cart{
   
    margin: 35px;
    gap: 20px;
    box-sizing: border-box;
    padding: 3px;
   
    border-radius: 5px;   
     
}
.cartparent{
    display: flex;
justify-content: space-between;
.cart1 img{
    height: 50px;
    width: 50px;
    background-color: red;
    padding: 10px;
    }
.cart1 img{
    background: red;
    content-visibility: auto;
    border-radius: 50%;
    margin-inline-start: 30%;
}
.cart1{
    
    border-radius: 5px;
    margin: 10px;
    padding: 6px; 
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    height: 250px;
    width: 300px;
    
    }}
.Solutionpart{
    display: flex;
    flex-direction: row;
}