
nav{ display: flex;
    align-items:center ;
    width:auto;
    height: 80px;
    padding: 16px 120px;
    border: 1px solid red;
    justify-content: space-between;
    
   
}
a:hover{
    background-color: aqua;
}
*{
    text-decoration: none;
}
    
nav .navblog {
    display: flex;
    list-style: none;
    gap: 35px;
    width: auto;
    height:auto;
    text-decoration: none;
}
div{
    width: auto;
    height: auto;
}
.hi {
    border: 1px solid;
    ;
}
.b{
    margin-right: 120px;
    border-radius: 5px;
    width: 140px;
    height: 40px;
     background-color:#30B868;
}
.b a{
    color: black;
   
}


.b a{
    text-decoration: none;
}

.navblog a{
    text-decoration: none;
}
main{
    
    border: solid 1px #30B868;
  
}
.imgclass{
     width: auto;
    height: 550px;
  background-image: url(./assets/hero-bg.png);
}
.hero{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content:center ;
    align-items: center;
    padding:50px;
}
.whitefront{
    color:white;
    font-size: x-large;
}
.greenfront{
    color: #30B868;
    font-size: x-large;
}
 .a-right{
    text-align: center;
    border: solid rebeccapurple
    ;
 }
 .herobutton{
    display: flex;
    justify-content: center;
    gap: 60px;
   margin: auto;
   
  
 }
.buttons a{
    text-decoration: none;

}

.buttonsb a{
    text-decoration: none;
}
.hero-section-down-part{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.cart{
    display: flex;
    flex-direction: row;
    margin: 15px;
   
   
}
.cart1 img{
    height: 50px;
    width: 60px;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}