
nav{ display: flex;
    align-items:center ;
    width:auto;
    height: 80px;
    padding: 16px 120px;
    
    justify-content: space-between;
    
   
}
*a{
    text-decoration: none;
}

a:hover{
    background-color: aqua;
}
*{
    text-decoration: none;
}
    
nav .navblog {
    display: flex;
    list-style: none;
    gap: 35px;
    width: auto;
    height:auto;
    text-decoration: none;
}
div{
    width: auto;
    height: auto;
}
.hi {
   
}
.b{
    margin-right: 120px;
    border-radius: 5px;
    width: 140px;
    height: 40px;
     background-color:#30B868;
}
.b a{
    color: black;
   
}


.b a{
    text-decoration: none;
}

.navblog a{
    text-decoration: none;
}

.imgclass{
     width: auto;
    height: 550px;
  background-image: url(./assets/hero-bg.png);
}
.hero{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content:center ;
    align-items: center;
    padding:50px;
}
.hero button{
    font-size: medium;
}
.hero img{
    height: 12px;
    width: 12px;
}
.whitefront{
    color:white;
    font-size: x-large;
}
.greenfront{
    color: #30B868;
    font-size: x-large;
}


 .a-right{
    text-align: center;
    border: solid rebeccapurple
    ;
 }
 .herobutton{
    display: flex;
    justify-content: center;
    gap: 60px;
   margin: auto;
 }
 .greenbutton{
    display: flex;
    flex-direction: row;
    background-color: #30B868;
     align-items: center;
  

 }
.buttons a{
    text-decoration: none;

}

.buttonsb a{
    text-decoration: none;
}
.hero-section-down-part{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.cart{
   
    margin: 35px;
    gap: 20px;
    box-sizing: border-box;
    padding: 3px;
   
    border-radius: 5px;   
     
}
.cartparent{
    display: flex;
padding-top:30px;
padding-left: 100px;
background-color: antiquewhite;
margin: 0 auto;
padding-right: 100px;

}
.cart1 img{
    background: red;
    content-visibility: auto;
    border-radius: 50%;
    margin-inline-start: 30%;

     height: 50px;
    width: 50px;
    background-color: red;
    padding: 10px
}
.cart1{
    
    border-radius: 5px;
    margin: 20px;
    padding: 7px; 
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    height: 300px;
    width: 300px;
    
    }
.Solutionpart{
    display: flex;
    flex-direction:row;
    
    padding: 115px;
    gap: 200px;
    height: 550px;
    width: 1250;
}
.Solutionpart img{
    height: 550px;
    width: 550px;
   
}
.thesoltion{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
}

.Solutionpart H6{
    color: #30B868;
    font-weight: 500;
    font-size: large;
}
.Solutionpart P{
color:#627382;
}


/*  
.icon-flex{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: justify;
    

    
   
} */
    .icon-flex li{
      
       list-style: none;
     

    }

    .icon-flex img{
        height: 10px;
        width: 10px;
        justify-content: left;
        
    }



.earlyaccess-parent{
    display: block;
    margin: 25px auto;
    padding: 20px 20px;
    max-width: 600px;
    background-color: #F7F6F2;
    border: #F7F6F2 1px;
    border-radius: 6px;
    text-align: center;
   
    
    
    }
    .get-early{
        display: flex;
        padding-left: 2px;
        justify-content: center;
        background-color: #30B868;
        border-radius: 6px;
        width: 150px;
        border: none;
      
    }
    .earlyaccess{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    footer{
       
        height: 150px;
        background-color: black;
     
    }
    
    /* footer div{
        display: flex;
       flex-direction: column;
       justify-content: space-between;
        
    }
    footer img{
        height: 20px;
        width: 20px;
    }
    footer h6{
        font-size: medium;
        padding-right: 100px;
    }
    
    .copyright{
        background-color: black;
       display: block;
        justify-content: center;
      
        color: #F7F6F2;
    }
    footer li{
        color: #F7F6F2;
        list-style: none;

    } */
     .foott{
        display: flex;
        flex-direction:row;
        justify-content: space-between;

     }

     footer img{
        height: 80px;
        width: 150px;
    }
    footer li{
        color: #F7F6F2;
        list-style: none;
        text-align: center;
        border-top: solid #F7F6F2 .5px;
        font-size: small;



    }
    footer h6{
        font-size: medium;
        padding-right: 100px;
        color: aliceblue;
        font-weight: 600;
    }
    
.f img{
    height: 12px;
    width: 12px;
    gap: 25px;
}

 


